@model ResultGetBlogByIdDto

<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.Title</h2>
    <p>@Model.Description</p>

    @await Component.InvokeAsync("_BlogDetailsTagCloudByIdComponentPartial", new { id = Model.BlogId })

    @await Component.InvokeAsync("_BlogDeailsAuthorComponentPartial", new { id = Model.BlogId })

    <div class="pt-5 mt-5">
        <h3 class="mb-5">@Model.CommentCount @((Model.CommentCount == 1) ? "Comment" : "Comments")</h3>

        @await Component.InvokeAsync("_CommentListByBlogComponentPartial", new { blogId = Model.BlogId })

        <!-- END comment-list -->
        @await Component.InvokeAsync("_AddCommentComponentPartial", new { blogId = Model.BlogId })
    </div>
</div>
