
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en"> 
@await Component.InvokeAsync("_HeaderUiLayoutComponentPartial") 

<body>

    @await Component.InvokeAsync("_NavbarUiLayoutComponentPartial")
    
    @await Component.InvokeAsync("_MainCoverUiLayoutComponentPartial")

    @RenderBody();

    @await Component.InvokeAsync("_FooterUiLayoutComponentPartial")
    
    @await Component.InvokeAsync("_ScriptUiLayoutComponentPartial")
</body>
</html>

