@model List<ResultCommentDto>

<ul class="comment-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="@item.ImageUrl" alt="Image placeholder" />
            </div>
            <div class="comment-body">
                <h3>@item.AuthorName</h3>
                <div class="meta">@item.CreatedDate.ToLongDateString()</div>
                <p>@item.Content</p>
                <p><a href="#" class="reply">Reply</a></p>
            </div>
        </li>
    }
</ul>
